<%
// load header options and contacts from content
const header = _.cms('header') || {}
const apx_header = _.cms('apx_header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

%>

<div id="overlay" class="fade"></div>
<header class="header" id="header" style="--background:<%= apx_header.background %>;--color:<%= apx_header.color %>">
  <% if(apx_header?.topbar_1?.list?.length > 0){ %>
    <div class="apx_topbar first py-md-2 py-1" style="--color:<%= apx_header.topbar_1.color %>; --background:<%= apx_header.topbar_1.background %>;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick-me" data-carrossel_md="Sim" data-carrossel_sm="Sim" data-num_col_md="1" data-num_col_sm="1"  data-carrossel_dots_md="Não" data-carrossel_dots_sm="Não" data-carrossel_arrows_md="Não" data-carrossel_arrows_sm="Não" data-carrossel_autoplay_md="Sim" data-carrossel_autoplay_sm="Sim" >
            <% apx_header.topbar_1.list.forEach(({ url, title })=> { %>
              <div>
                  <% if(url){ %> 
                  <a href="<%= url %>"> 
                  <% } %>
                    <%- title %>
                  <% if(url){ %> 
                  </a>
                  <% } %>
              </div>
            <% }) %>
            </div>
          </div>
        </div>
      </div>           
    </div>
  <%  } %>
  <div class="container-fluid px-md-5 px-md-0 px-3 py-3">    
    <div class="row row-header align-items-center py-md-2 py-1 px-0 px-md-0 ">
      <div class="col col-logo d-block d-md-none">
        <button type="button" class="menu-trigger" onclick="$('#apx-menu').toggleClass('visible');">                       
          <span></span>
          <span></span>
          <b>MENU</b>
        </button>
      </div>
      <div class="col col-lg-2" id="apx-logo">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>
      <div class="col-12 col-lg-8 col-md-auto" id="apx-menu">
        <div class="d-block d-md-none">
          <button type="button" class="apx_close" onclick="$('#apx-menu').toggleClass('visible');">                       

          </button>
        </div>
        <ul class="level_1">
          <% apx_header.links.forEach(({ url, title, list })=> {
            let mega = (list && list.find(el => el.item.image) || list && list.find(el => el.item.list.length > 0)) ? 'max_menu' : '';
            //let mega = images && images.length > 0 ? 'max_menu' : false;
                    
            //if(!list){
              subcategories = _.categories.filter(el => el.parent && el.parent.name == title)
            //}
            
            
            %>
            <li class="<%= list ? 'dropdown' : ''%> <%= mega %>">
              
              <a href="<%= url %>">
                <%= title %>
              </a>
              <% if (list || subcategories.length > 0) { %>
                <button type="button" class="d-md-none" onclick="$(this).closest('li').toggleClass('open')">                    
                    <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.353553" y1="0.646447" x2="3.35355" y2="3.64645" stroke="black"/>
                    <line y1="-0.5" x2="4.24264" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 6 1)" stroke="black"/>
                    </svg>  
                </button>
              <% } %>
              
              <% if (list) { 
                %>
                <div class="level_2 <%= mega ? mega : 'normal'%>">                          
                  <% if (mega) { %><div class="container-fluid py-4"><% } %>
                    <ul class="<%= mega ? ' row justify-content-center gapper' : '' %>">
                      <% list.forEach(({ item })=> { 
                        %>
                        <li class="<%= mega ? 'col-auto bordered mx-md-2' : '' %>">
                          <a href="<%= item.url %>">
                            <%= item.title %>
                            <% let main = item.url %>
                          </a>
                          <% if (item.list) { %>
                            <ul>
                            <% item.list.forEach(({ item })=> { %>
                              <li>
                                <a href="<%= item.url.startsWith('?') ? main + item.url : item.url %>">
                                  <%= item.title %>
                                </a>
                              </li>
                            <% }) %>
                            </ul>
                          <% } %>                               
                        </li>
                        <% if (mega && item.image) { %>  
                          <li class="col-auto col-md-3 d-none d-md-block">
                            <a href="<%= item.url %>">
                              <img class="img-responsive w-100" src="<%= item.image %>"/>
                            </a> 
                          </li>
                        <% } %>
                        <!-- <li class="col-auto divider"></li> -->
                      <% }) %>
                    </ul>
                    
                    <% if (mega) { %></div><% } %>
                </div>
              <% } else { %>
                <% if (subcategories.length > 0) {%>
                  <div class="level_2 <%= mega %>">
                    <ul class="<%= mega %>">
                      <% subcategories.forEach(({ name, slug })=> { 
                        %>
                        <li class="">                          
                          <a href="<%= slug %>">
                            <%= name %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                <% } %>
              <% } %>
            </li>
          <% }) %>
        </ul>        
      </div>      
      
      <div class="col-md col-lg-2 col justify-content-end" id="apx-functions">       
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >          
          <button
            type="submit"
            class="apx_search-trigger d-md-block d-none"
            id="apx_search-trigger"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-label="<%= _.dictionary('searchProducts') %>"
          >
            <img src="/assets/search.svg"/>
          </button>

          <button
            type="button"
            class="apx_bookmark d-md-block d-none"
          >
            <img src="/assets/bookmark.svg"/>
          </button>
          
          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <img src="/assets/user-1.svg"/>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <img src="/assets/cart-2.svg"/>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>
      </div>
    </div>
    
    <div id="login-modal">
      <!--
        `LoginModal` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
      -->
    </div>
    <div id="cart-quickview">
      <!--
        `CartQuickview` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
      -->
    </div>


  </div>  
  <form
  class="header__search m-0 mt-lg-0"
  id="search-form"
  action="/search"
  method="get"
  autocomplete="off"
>
  <div class="d-md-none">
    <input
      type="text"
      
      name="term"
      placeholder="Óculos de sol, óculos de grau..."
      aria-label="<%= _.dictionary('searchProducts') %>"
      class="header__search-input form-control"
      id="search-input"
      autocomplete="off"
    >
    <button
    
      type="submit"
      class="header__search-btn"
      aria-label="<%= _.dictionary('searchProducts') %>"
    >
      <img src="/assets/search.svg"/>
    </button>
  </div>
  <div id="instant-search">
    <!--
      `InstantSearch` should be open on input focus:
      https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
    -->
  </div>  
</form> 
  <% if(apx_header?.topbar_2?.list?.length > 0){ %>
    <div class="apx_topbar py-md-3 py-2" style="--color:<%= apx_header.topbar_2.color %>; --background:<%= apx_header.topbar_2.background %>;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick-me" data-carrossel_md="Sim" data-carrossel_sm="Sim" data-num_col_md="1" data-num_col_sm="1"  data-carrossel_dots_md="Não" data-carrossel_dots_sm="Não" data-carrossel_arrows_md="Não" data-carrossel_arrows_sm="Não" data-carrossel_autoplay_md="Sim" data-carrossel_autoplay_sm="Sim" >
              <% apx_header.topbar_2.list.forEach(({ url, title })=> { %>
                <div>
                    <% if(url){ %> 
                    <a href="<%= url %>"> 
                    <% } %>
                      <%- title %>
                    <% if(url){ %> 
                    </a>
                    <% } %>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>           
    </div>
  <%  } %>
  <div class="container-fluid">
    <div class="row justify-content-center">
      
    </div>
  </div>
  
  

</header>
<!--
<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>
-->

</div>