<%
// load header options and contacts from content
const header = _.cms('header') || {}
const apx_header = _.cms('apx_header') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

// social networks handled by contacts
const networks = [
  'facebook',
  'youtube',
  'instagram',
  'twitter',
  'pinterest',
  'linkedin',
  'tiktok'
]

// marketing stripe custom styles
let marketingStripeStyle = ''
;['background', 'color'].forEach(prop => {
  if (header.marketing_stripe[prop]) {
    marketingStripeStyle += `${prop}:${header.marketing_stripe[prop]};`
  }
})

%>

<div id="overlay" class="fade"></div>
<header class="header" id="header" style="--background:<%= apx_header.background %>;--color:<%= apx_header.color %>">
  <% if(apx_header?.topbar_1?.list?.length > 0){ %>
    <div class="apx_topbar first py-md-2 py-1" style="--color:<%= apx_header.topbar_1.color %>; --background:<%= apx_header.topbar_1.background %>;">
      <div class="language-flags">
        <!-- Adicione este bloco onde deseja mostrar as bandeiras, por exemplo no header -->
        <div class="language-flags">
          <div id="google_translate_element" style="display: none;"></div>
    
          <a class="flag-icon flag-pt" onclick="window.changeLanguage('pt')">

<svg  height="16px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet"><path fill="#009B3A" d="M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V9a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v18z"></path><path fill="#FEDF01" d="M32.728 18L18 29.124L3.272 18L18 6.875z"></path><circle fill="#002776" cx="17.976" cy="17.924" r="6.458"></circle><path fill="#CBE9D4" d="M12.277 14.887a6.406 6.406 0 0 0-.672 2.023c3.995-.29 9.417 1.891 11.744 4.595c.402-.604.7-1.28.883-2.004c-2.872-2.808-7.917-4.63-11.955-4.614z"></path><path fill="#88C9F9" d="M12 18.233h1v1h-1zm1 2h1v1h-1z"></path><path fill="#55ACEE" d="M15 18.233h1v1h-1zm2 1h1v1h-1zm4 2h1v1h-1zm-3 1h1v1h-1zm3-6h1v1h-1z"></path><path fill="#3B88C3" d="M19 20.233h1v1h-1z"></path></svg></a>
          <a class="flag-icon flag-en" onclick="window.changeLanguage('en')">
<svg  height="16px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet"><path fill="#B22334" d="M35.445 7C34.752 5.809 33.477 5 32 5H18v2h17.445zM0 25h36v2H0zm18-8h18v2H18zm0-4h18v2H18zM0 21h36v2H0zm4 10h28c1.477 0 2.752-.809 3.445-2H.555c.693 1.191 1.968 2 3.445 2zM18 9h18v2H18z"></path><path fill="#EEE" d="M.068 27.679c.017.093.036.186.059.277c.026.101.058.198.092.296c.089.259.197.509.333.743L.555 29h34.89l.002-.004a4.22 4.22 0 0 0 .332-.741a3.75 3.75 0 0 0 .152-.576c.041-.22.069-.446.069-.679H0c0 .233.028.458.068.679zM0 23h36v2H0zm0-4v2h36v-2H18zm18-4h18v2H18zm0-4h18v2H18zM0 9zm.555-2l-.003.005L.555 7zM.128 8.044c.025-.102.06-.199.092-.297a3.78 3.78 0 0 0-.092.297zM18 9h18c0-.233-.028-.459-.069-.68a3.606 3.606 0 0 0-.153-.576A4.21 4.21 0 0 0 35.445 7H18v2z"></path><path fill="#3C3B6E" d="M18 5H4a4 4 0 0 0-4 4v10h18V5z"></path><path fill="#FFF" d="M2.001 7.726l.618.449l-.236.725L3 8.452l.618.448l-.236-.725L4 7.726h-.764L3 7l-.235.726zm2 2l.618.449l-.236.725l.617-.448l.618.448l-.236-.725L6 9.726h-.764L5 9l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L9 9l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L13 9l-.235.726zm-8 4l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L5 13l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L9 13l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L13 13l-.235.726zm-6-6l.618.449l-.236.725L7 8.452l.618.448l-.236-.725L8 7.726h-.764L7 7l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L11 7l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L15 7l-.235.726zm-12 4l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L3 11l-.235.726zM6.383 12.9L7 12.452l.618.448l-.236-.725l.618-.449h-.764L7 11l-.235.726h-.764l.618.449zm3.618-1.174l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L11 11l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L15 11l-.235.726zm-12 4l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L3 15l-.235.726zM6.383 16.9L7 16.452l.618.448l-.236-.725l.618-.449h-.764L7 15l-.235.726h-.764l.618.449zm3.618-1.174l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L11 15l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L15 15l-.235.726z"></path></svg>
          </a>
          <a class="flag-icon flag-fr" onclick="window.changeLanguage('fr')">
        
<svg w height="16px" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet"><path fill="#ED2939" d="M36 27a4 4 0 0 1-4 4h-8V5h8a4 4 0 0 1 4 4v18z"></path><path fill="#002495" d="M4 5a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h8V5H4z"></path><path fill="#EEE" d="M12 5h12v26H12z"></path></svg>
          </a>
        </div>

        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({
              pageLanguage: 'pt',
              includedLanguages: 'pt,en,fr',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
              autoDisplay: false
            }, 'google_translate_element');
          }

          function changeLanguage(lang) {
            console.log('mudou para', lang)
            const select = document.querySelector('.goog-te-combo');
            if (select) {
              select.value = lang;
              select.dispatchEvent(new Event('change'));
            }
          }
          
          // Verifica o idioma atual e exibe a bandeira PT-BR apenas se não estivermos em português
          document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
              const currentLang = document.documentElement.lang || 'pt';
              if (currentLang !== 'pt') {
                document.querySelector('.flag-pt').style.display = 'inline-block';
              } else {
                document.querySelector('.flag-pt').style.display = 'none';
              }
            }, 1000); // Aguarda carregamento da página
          });
        </script>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick-me" data-carrossel_md="Sim" data-carrossel_sm="Sim" data-num_col_md="1" data-num_col_sm="1"  data-carrossel_dots_md="Não" data-carrossel_dots_sm="Não" data-carrossel_arrows_md="Não" data-carrossel_arrows_sm="Não" data-carrossel_autoplay_md="Sim" data-carrossel_autoplay_sm="Sim" >
            <% apx_header.topbar_1.list.forEach(({ url, title })=> { %>
              <div>
                  <% if(url){ %> 
                  <a href="<%= url %>"> 
                  <% } %>
                    <%- title %>
                  <% if(url){ %> 
                  </a>
                  <% } %>
              </div>
            <% }) %>
            </div>
          </div>
        </div>
      </div>           
    </div>
  <%  } %>
  <div class="container-fluid px-md-5 px-md-0 px-3 py-3">    
    <div class="row row-header align-items-center py-md-2 py-1 px-0 px-md-0 ">
      <div class="col-md col-auto col-logo d-block d-md-none">
        <button type="button" class="menu-trigger" onclick="$('#apx-menu').toggleClass('visible');">                       
          <span></span>
          <span></span>
          <b>MENU</b>
        </button>
      </div>
      <div class="col col-lg-2" id="apx-logo">
        <a href="/">
          <%- await include('@/layout/inc/logo', { _ }) %>
        </a>
      </div>
      <div class="col-12 col-lg-8 col-md-auto" id="apx-menu">
        <div class="d-block d-md-none">
          <button type="button" class="apx_close" onclick="$('#apx-menu').toggleClass('visible');">                       

          </button>
        </div>
        <ul class="level_1">
          <% if(apx_header.links) { apx_header.links.forEach(({ url, path, title, list })=> {
            let mega = (list && list.find(el => el.item.image) || list && list.find(el => el.item.list.length > 0)) ? 'max_menu' : '';
            //let mega = images && images.length > 0 ? 'max_menu' : false;
                    
            //if(!list){
              subcategories = _.categories.filter(el => el.parent && el.parent.name == title)
            //}
            
            
            %>
            <li class="<%= list && list.length ? 'dropdown' : ''%> <%= mega %>">
              
              <a href="<%= path ? path : url %>">
                <%= title %>
              </a>
              <% if (list && list.length  || subcategories.length > 0) { %>
                <button type="button" class="d-md-none" onclick="$(this).closest('li').toggleClass('open')">                    
                    <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.353553" y1="0.646447" x2="3.35355" y2="3.64645" stroke="black"/>
                    <line y1="-0.5" x2="4.24264" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 6 1)" stroke="black"/>
                    </svg>  
                </button>
              <% } %>
              
              <% if (list && list.length > 0) { 
                %>
                <div class="level_2 <%= mega ? mega : 'normal'%>">                          
                  <% if (mega) { %><div class="container-fluid py-4"><% } %>
                    <ul class="<%= mega ? ' row justify-content-center gapper' : '' %>">
                      <% list.forEach(({ item })=> { 
                        %>
                        <li class="<%= mega ? 'col-auto bordered mx-md-2' : '' %>">
                          <a href="<%= item.path ? item.path : item.url %>">
                            <%= item.title %>
                            <% let main = item.path ? item.path : item.url %>
                          </a>
                          <% if (item.list) { %>
                            <ul>
                            <% item.list.forEach(({ item })=> { %>
                              <li>
                                
                                <a href="<%= item.path ?  item.path : ( item.url.startsWith('?') ? main + item.url : item.url )%>">
                                  <%= item.title %> 
                                </a>
                              </li>
                            <% }) %>
                            </ul>
                          <% } %>                               
                        </li>
                        <% if (mega && item.image) { %>  
                          <li class="col-auto col-md-2 d-none d-md-block">
                            <a href="<%= item.url %>">
                              <img class="img-responsive w-100" src="<%= item.image %>"/>
                            </a> 
                          </li>
                        <% } %>
                        <!-- <li class="col-auto divider"></li> -->
                      <% }) %>
                    </ul>
                    
                    <% if (mega) { %></div><% } %>
                </div>
              <% } else { %>
                <% if (subcategories.length > 0) {%>
                  <div class="level_2 <%= mega %>">
                    <ul class="<%= mega %>">
                      <% subcategories.forEach(({ name, slug, path })=> { 
                        %>
                        <li class="">                          
                          <a href="<%= path ? path : slug %>">
                            <%= name %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  </div>
                <% } %>
              <% } %>
            </li>
          <% }) } %>
        </ul>        
      </div>      
      
      <div class="col-md col-lg-2 col justify-content-end" id="apx-functions">       
        <div
          class="header__buttons"
          role="group"
          aria-label="<%= _.dictionary('myAccount') %>"
        >          
          <button
            type="submit"
            class="apx_search-trigger d-md-block d-none"
            id="apx_search-trigger"
            data-toggle="collapse"
            data-target="#search-bar"
            aria-expanded="true"
            aria-controls="search-bar"
            aria-label="<%= _.dictionary('searchProducts') %>"
          >
            <img src="/assets/search.svg"/>
          </button>

          <a
            class="apx_bookmark d-md-block"
            href="/app/#/account/favorites"
            title="Favoritos"
          >
            <img src="/assets/bookmark.svg"/>
            <span class="favorite-count badge-primary">0</span>
          </a>
          
          <a
            id="user-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/account/"
            title="<%= _.dictionary('myAccount') %>"
          >
            <img src="/assets/user-1.svg"/>
          </a>
          <a
            id="cart-button"
            class="btn btn-lg"
            role="button"
            href="/app/#/cart"
            title="<%= _.dictionary('openCart') %>"
          >
            <img src="/assets/cart-2.svg"/>
            <span id="cart-count" class="badge badge-primary"></span>
          </a>
        </div>
      </div>
    </div>
    
    <div id="login-modal">
      <!--
        `LoginModal` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/LoginModal.html
      -->
    </div>
    <div id="cart-quickview">
      <!--
        `CartQuickview` should be rendered here:
        https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/CartQuickview.html
      -->
    </div>


  </div>  
  <form
  class="header__search m-0 mt-lg-0"
  id="search-form"
  action="/search"
  method="get"
  autocomplete="off"
>
  <div class="d-md-none">
    <input
      type="text"
      
      name="term"
      placeholder="Óculos de sol, óculos de grau..."
      aria-label="<%= _.dictionary('searchProducts') %>"
      class="header__search-input form-control"
      id="search-input"
      autocomplete="off"
    >
    <button
    
      type="submit"
      class="header__search-btn"
      aria-label="<%= _.dictionary('searchProducts') %>"
    >
      <img src="/assets/search.svg"/>
    </button>
  </div>
  <div id="instant-search">
    <!--
      `InstantSearch` should be open on input focus:
      https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/InstantSearch.html
    -->
  </div>  
</form> 
  
  <div class="container-fluid">
    <div class="row justify-content-center">
      
    </div>
  </div>
  
  

</header>
<% if(apx_header?.topbar_2?.list?.length > 0){ %>
    <div class="apx_topbar py-md-3 py-2" style="--color:<%= apx_header.topbar_2.color %>; --background:<%= apx_header.topbar_2.background %>;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick-me" data-carrossel_md="Sim" data-carrossel_sm="Sim" data-num_col_md="1" data-num_col_sm="1"  data-carrossel_dots_md="Não" data-carrossel_dots_sm="Não" data-carrossel_arrows_md="Não" data-carrossel_arrows_sm="Não" data-carrossel_autoplay_md="Sim" data-carrossel_autoplay_sm="Sim" >
              <% apx_header.topbar_2.list.forEach(({ url, title })=> { %>
                <div>
                    <% if(url){ %> 
                    <a href="<%= url %>"> 
                    <% } %>
                      <%- title %>
                    <% if(url){ %> 
                    </a>
                    <% } %>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>           
    </div>
  <%  } %>
<!--
<div class="top-bar">
  <% if (header.marketing_stripe) { %>
    <% if (header.marketing_stripe.text) { %>
      <% if (header.marketing_stripe.link) { %>
        <a
          class="top-bar__countdown"
          style="<%= marketingStripeStyle %>"
          href="<%= header.marketing_stripe.link %>"
        >
          <%= header.marketing_stripe.text %>
        </a>
      <% } else { %>
        <div class="top-bar__countdown" style="<%= marketingStripeStyle %>">
          <%= header.marketing_stripe.text %>
        </div>
      <% } %>
    <% } %>
  <% } %>
</div>
-->

</div>